.tableDescrType {
  width: 33.33%;
  font-size: 18px;
  border: 1px solid black;
  text-transform: capitalize;
  text-align: left;
  padding-left: 56px;
}

.tableDescr {
  width: 33.33%;
  font-size: 18px;
  border: 1px solid black;
  text-transform: capitalize;
  text-align: center;
}
